$primary-dark: #F35F1C;
$secondary-light:#FF6D09;

$purple-dark: #693BCC;
$pink-dark: #CB1F9C;



//Neutral Colors
$white-normal: #f7f2fa;


$black-normal:#232224;
$black-light:#353436;

//Gray Scale
$gray-1: #454446;
$gray-2: #a6a6a7;
$gray-5: #313131;
$gray-6: #969597;

$gray-teste: #556282;


